<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
   <style>
      .pagination-page-info {
      padding: .6em;
      padding-left: 0;
      width: 40em;
      margin: .5em;
      margin-left: 0;
      font-size: 12px;
  }
  .pagination-page-info b {
      color: black;
      background: #6aa6ed;
      padding-left: 2px;
      padding: .1em .25em;
      font-size: 150%;
  }
  
  body{
      background-image:url("https://www.desktopbackground.org/download/o/2010/04/29/9397_admin-author-at-hd-images-new-page-82-of-85_1920x1080_h.jpg");
  }
  
  
  

      .swal2-container{
      z-index:9999999999;
      }
      
      .loader {
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #c57e7d;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      
      .loader > img {
      width: 50px;
      height: auto;
      }
      
      .loader.hidden {
      animation: fadeOut 1s;
      animation-fill-mode: forwards;
      }
      @keyframes fadeOut {
      100% {
      opacity: 0;
      visibility: hidden;
      }
      }
      
      </style>
      </head>
      
      <section>
      
      
      
      <div class="loader">
      <center>
      <img src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" alt="Loading . . ." height="10%">
      </center>
      </div>
      
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
      function loaddone() {
      const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 2500,
      timerProgressBar: true,
      didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
      })
      Toast.fire({
      icon: 'success',
      title: 'โหลดหน้าเว็บเสร็จสิ้น'
      })
      }
      
      window.addEventListener("load", function () {
      const loader = document.querySelector(".loader");
      loader.className += " hidden",loaddone();
      });
      
      
      
      </script>
      
   </section>
   

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Line Food Recognition</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edit_user">UserInfo</a>
          </li>
  
  
   
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <div class="jumbotron p-1" style='background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);'>
      <div class="well text-center">
          
          <h1 style='font-family:Comic Sans MS;color:white;'><img src="https://supapongai.com/wp-content/uploads/2021/09/Medium-minifile.gif" alt="" width="70px" height="auto"> Line Food Recognition Admin</h1>
   
      </div>
   
   
  </div>


   
   
   <div class="container">
       <div class="row">
           <div class="col md-12">
   
               <div class="jumbotron p-3">
   
                   <h2>USER <b>INFORMATION </b>  <a href="https://supapongai.com/" class='float-right' target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: 41px !important;width: 174px !important;box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 3px 2px 0px rgba(190, 190, 190, 0.5) !important;" ></a>
                   </h2>
   
   
                   {% with messages = get_flashed_messages() %}
   
                   {% if messages %}
   
                   {% for message in messages %}
   
                   <div class="alert alert-success alert-dismissable" role="alert">
   
                       <button type="button" class="close" data-dismiss="alert" aria-label="close">
   
                           <span aria-hidden="true">x</span>
   
                       </button>
   
                       <script>
                          Swal.fire(
                              'Good job!',
                              'Update Successful!',
                              'success'
                              )
                       </script>
   
   
                   {{message}}
   
   
                   </div>
   
   
                   {% endfor %}
   
                   {% endif %}
                   {% endwith %}
   
                   {{pagination.info}}
                   {{ pagination.links }}
                  
                   <table class="table table-hover table-dark">
   
                       <tr>
   
                           <th>USERID</th>
                
                           <th>Sex</th>
                           <th>Age</th>
                           <th>Weight</th>
                           <th>Height</th>
                           <th>Exercise Rate</th>
                           <th>Action</th>

   
                       </tr>
   
                       
                      {% for row in employees %}
                       <tr>
                     
   
                           <td>{{row[0]}}</td>
                           <td>{{row[1]}}</td>
                           <td>{{row[2]}}</td>
                           <td>{{row[3]}}</td>
                           <td>{{row[4]}}</td>
                           <td>{{row[5]}}</td>
                           
                           <td>
                              <a href="/update2" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit2">Edit</a>
                              <!--<a href="/delete" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>-->
                               <!--<a href="/delete" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete">Delete</a>-->
   
                           </td>
   
                       </tr>
   
   
                     <!-- Modal Edit Employee-->
   <div id="modaledit2" class="modal fade" role="dialog">
      <div class="modal-dialog">
   
   
         <div class="modal-content">
   
   
            <div class="modal-header">
   
   
               <h4 class="modal-title">Update Information</h4>
   
   
            </div>
   
   
            <div class="modal-body">
   
   
               <form action="{{url_for('update2')}}" method="POST">
   
   
                  <div class="form-group">
   
   
                     <label>User ID:</label>
                      <input type="hidden"  name="id" value="{{row[0]}}" >
   
                     <input type="text" class="form-control" name="user_id" value="{{row[0]}}">
   
   
                  </div>
   
                  <div class="form-group">
   
                     <label>Sex</label>
                     <select name="sex" id="sex" class="custom-select custom-select-sm my-2">
                        <option value="ชาย">ชาย</option>
                        <option value="หญิง">หญิง</option>
                  
                       </select>
   
   
                </div>


   
   
   
                  <!--<div class="form-group">
   
   
                     <label>Food Detect:</label>
   
                     <input type="text" class="form-control" name="food_detect" value="{{row[1]}}">
   
   
                  </div>-->
   
   
                  <div class="form-group">
   
   
                     <label>Age:</label>
   
                     <input type="text" class="form-control" name="age" value="{{row[2]}}">
   
   
                  </div>

                  <div class="form-group">
   
   
                     <label>Weight:</label>
   
                     <input type="text" class="form-control" name="weight" value="{{row[3]}}">
   
   
                  </div>

                  <div class="form-group">
   
   
                     <label>Height:</label>
   
                     <input type="text" class="form-control" name="height" value="{{row[4]}}">
   
   
                  </div>

                  <div class="form-group">
   
   
                     <label>Exercise Rate:</label>
   
                     <input type="text" class="form-control" name="ex_rate" value="{{row[5]}}">
   
   
                  </div>
   
   
                  <div class="form-group">
   
   
                     <button class="btn btn-success" type="submit">Update</button>
   
   
                  </div>
   
   
               </form>
   
   
            </div>
   
   
            <div class="modal-footer">
   
   
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
   
   
            </div>
   
   
         </div>
   
   
      </div>
   
   </div>
   
   
                     <!-- Modal Delete-->
                     <div id="modaldelete" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                     
                     
                           <div class="modal-content">
                     
                     
                              <div class="modal-header">
                     
                     
                                 <h4 class="modal-title">Delete Information</h4>
                     
                     
                              </div>
                     
                     
                              <div class="modal-body">
                     
                     
                                 <form action="{{url_for('delete')}}" method="POST">
                     
                     
                                    <div class="form-group">
                     
                     
                                       <label>User ID:</label>
                                        <input type="hidden"  name="id" value="{{row[0]}}" >
                     
                                       <input type="text" class="form-control" name="user_id" value="{{row[0]}}">
                     
                     
                                    </div>
                     
                                    <div class="form-group">
                     
                     
                                     <label>Date:</label>
                     
                                     <input type="text" class="form-control" name="date" value="{{row[2]}}">
                     
                     
                                  </div>
                     
                     
                     
                                    <!--<div class="form-group">
                     
                     
                                       <label>Food Detect:</label>
                     
                                       <input type="text" class="form-control" name="food_detect" value="{{row[1]}}">
                     
                     
                                    </div>-->
                     
                     
                
                     
                     
                                    <div class="form-group">
                     
                     
                                       <button class="btn btn-danger" type="submit">Delete</button>
                     
                     
                                    </div>
                     
                     
                                 </form>
                     
                     
                              </div>
                     
                     
                              <div class="modal-footer">
                     
                     
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     
                     
                              </div>
                     
                     
                           </div>
                     
                     
                        </div>
                     
                     </div>
   
   
                       {% endfor %}
   
   
                   </table>
   
   
   
               </div>
   
   
   
                     <!-- Modal Add Employee-->
   
   
   
   
   
   
   
   
           </div>
   
       </div>
   
   
   </div>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>